.wrapper {
    padding: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.buttonGroupWrapper {
    padding-bottom: 3%;
}

.text {
    font-size: 25px;
    font-weight: 600;
}