.buttonWrapper {
    display: flex;
    justify-content: center;
}

.userInfoWrapper {
    margin-bottom: 30px;
}

.dropDownWrapper {
    margin-bottom: 30px;
}

.graphWrapper {
    margin-top: 30px;
}